$breakPoints : (
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
    xs: 0
) !default;

$gridColumns: 12 !default;
$gridRowGap: 24px !default;
$gridColumnGap: 24px !default;
$columnPrefix: '.col' !default;